html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0', )
    script(defer src='https://kit.fontawesome.com/9bdc29d32c.js')
    script(defer src='/menu.js')
    style
      include ../css/Menu.css