.topnav 
    a(href='' class='active') #{title}
    div(id='myLinks')
        a(href='/') Home 
        a(href='/logout') Log Ud
        a(href='/Login') Log In
    a(href='javascipt:void(0);' class='icon' onclick='showMenu()')
        i(class='fas fa-bars fa-lg')